@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  --primary-100: #d9f0d3;
  --primary-200: #b2e1a8;
  --primary-300: #8cd17c;
  --primary-400: #65c251;
  --primary-500: #3fb325;
  --primary-600: #328f1e;
  --primary-700: #266b16;
  --primary-800: #19480f;
  --primary-900: #0d2407;
  --white: #fff;
  --black: #000;
  /* fonts  */
  --bodyFont: "Open Sans", sans-serif;
  --headingFont: "Raleway", sans-serif;
  /* grey colors  */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transition: 0.2s all linear;
  --letter-spacing: 1px;
  --border-radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 500px;
  --error-alert: #ca322b;
  --green-alert: #d4edda;
}

/* global styles  */

body {
  background: var(--grey-50);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--black);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: capitalize;
  border: transparent;
  background: var(--primary-500);
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  font-size: 0.875rem;
}

.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-3);
}

/*
*************
Form
*************
*/
.form {
  width: 90%;
  max-width: var(--fixed-width);
  margin: 3rem auto;
  border-radius: var(--border-radius);
  padding: 2rem 2.5rem;
  background: var(--white);
  box-shadow: var(--shadow-3);
}

.form-title {
  letter-spacing: var(--letter-spacing);
}

.form-input {
  width: 100%;
  border: 1px solid var(--grey-200);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: var(--grey-100);
  margin-bottom: 1rem;
}

::placeholder {
  color: var(--grey-400);
}

.submit-btn {
  width: 100%;
}

@media (min-width: 576px) {
  .form-control {
    display: flex;
  }
  .form-input {
    margin-bottom: 0;
  }
  .submit-btn {
    border-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 30%;
  }
}

/* alert  */
.form-alert {
  color: var(--error-alert);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  font-size: 0.625rem;
}

/* tasks  */
.tasks-container {
  width: 90%;
  max-width: var(--fixed-width);
  margin: 2rem auto 0 auto;
  padding-bottom: 4rem;
}
.tasks {
  display: grid;
  gap: 1rem;
}

.single-task {
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.single-task:hover {
  box-shadow: var(--shadow-3);
}

.single-task h5 {
  margin-bottom: 0;
}

.single-task .fa-circle-check {
  margin-right: 1rem;
  margin-left: -1.25rem;
  color: var(--primary-700);
  font-size: 1rem;
  visibility: hidden;
}

.task-links {
  display: flex;
  justify-content: space-between;
  gap: 0 1rem;
}

.edit-link,
.delete-button {
  font-size: 0.875rem;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.edit-link {
  color: var(--primary-700);
}

.delete-button {
  color: var(--error-alert);
}

.task-completed .fa-circle-check {
  visibility: visible;
}

.task-completed h5 {
  text-decoration: line-through;
}

/* edit task */
.single-task-form {
  /* min-width:  95%; */
}
.single-task-form h4 {
  text-align: center;
}
.single-task-form .label-form {
  width: 9.375rem;
  text-transform: capitalize;
}
.single-task-form .form-control {
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.single-task-form .form-input {
  flex: 1;
}

.task-edit-id {
  margin-bottom: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 9.375rem auto;
}
.task-edit-completed {
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.single-task-form .form-alert{
  text-align: center;
}

.back-link{
  margin: 0 auto;
  display: block;
  width: 20%;
  text-align: center;
  background: var(--primary-700);
}

.back-link:hover{
  background: var(--primary-800);
  color: var(--primary-500);
}